div {
	display: fixed;
}

body {
	background-color: #191919;
	color: #ccc;
	scrollbar-color: #aaa #111;
}

div, body, html {
	overflow-x: hidden;
	overflow-x: hidden;
	overflow: hidden;
}

body, html {
	width: 100vw;
	height: 100vh;
}

body > div {
	width: 100vw;
	height: 100vh;
}




.tableprocess {
	top: 0;
	overflow-y: scroll;
	overflow-x: scroll;
	overflow: scroll;
	border-collapse: collapse;
	border: 1px solid;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	bottom: 0;
}

tr {
	width: 100%;
}
th {
	width: fit-content;
}
thead th {
	position: sticky;
}

th, tr, .tableprocess>tr>td {
	border-collapse: collapse;
	border: 1px solid;
}

tr > th:nth-of-type(2) {
	width: 100%;
}




